* {
    font-family: 'Nunito', sans-serif;
}

#imgLogo {
    width: 120px; 
    height: 75px;
}

header {
    overflow: hidden;
}

h2 {
    font-size: 35px;
}

#navLinks:hover {
    text-decoration: underline;
}

.descricaoTexto {
    font-size: 20px;
}

#botaoComprar {
    background-color: #dc6874;
    color: white;
}

#botaoComprar:hover {
    background-color: pink;
}

#linksSociais {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5%
}

footer p {
    background-color: #dc6874;
}

#cardLogo {
    width: 10rem;
    height: 10rem;
}

.imgEquipe {
    border-radius: 100px;
}